body {
    background-color: pink;
    text-align: center;
}
img {
    max-width: 300px;
    margin: 20px auto;
}
ol {
    
    list-style-position: inside;
    /* list-style:; */
    text-align: middle;

}
#quote {
    font-size: 30px;
    text-align: center;
    color: white;
    
}
h1 {
    color: white;
    
}

h1:hover{
    color: black;
}
h3 {
    color: white;
}